body {
  font-family: Arial;
  color: black;
    margin:0;
    height:100%;
    width:100%;
    padding:0;
    border:0;
}
.text{
    padding-top: 300px;
    text-align:center;
    /*border: 10px solid red;*/
    z-index: -3;
    width: 300px;
    margin: 0px;
    float:center;
    }

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
.left {
  left: 0;
  background-image: url(background.png);
  animation: onjuist 1s;
  z-index: -1;
  
}
.left:hover{
    filter: brightness(55%);
    background-size: 100%;
}

.right {
  right: 0;
  background-image: url(bloed.jpg);
  background-position: center;
  animation: onjuist 1s;
  z-index: -1;
}
.right:hover{
    filter: brightness(55%);
    background-size: 140%;
}

@keyframes onjuist {
    0% {opacity: 0;}
    30% {opacity: 0;}
    100% {opacity: 1;}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}